
.page {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


/*---Header---*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 38px;
}

.header__title {
  margin: 0;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  position: relative;
  left: 64px;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__subtitle {
  margin: 0px;
  max-width: 388px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__main-illustration {
  width: 765px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
}

/*---Description---*/
.description {
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0px;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 600;
}


/* ----Digits-----*/
.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
}

.section-title {
  margin: 0px;
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  align-self: center;
}

.section-subtitle {
  margin: 0px;
  width: 100%;
  max-width: 60%;
  margin-top: 20px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  align-self: center;
}

.table {
  width: 1100px;
  display: flex;
  position: relative;
  align-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  text-align: left;
}

.table__text {
  margin: 0px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
}

/*feynman*/
.feynman {
  min-height: 890px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 0px;
  margin-top: 100px;
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  position: relative;
  align-self: center;
}

.feynman__subtitle {
  margin: 0px;
  margin-top: 70px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  align-self: center;
  position: relative;
}

.feynman__background-foto {
  width: 867px;
  position: absolute;
  bottom: 0px;
  left: 0px;

}

.feynman__link {
  margin: 0px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 2;
  color: #2f80ed;
  text-decoration: none;
}

/*---KAUFMAN---*/
.kaufman_text_theme_dark {
  background-color: #1f1f1f;
}

.kaufman {
  padding: 90px 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: center;
  overflow: hidden;
  z-index: -1;
}

.kaufman__background-foto {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.table_theme_dark {
  color: #ffffff;
}

.section-title_theme_dark {
  color: #ffffff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #ffffff;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  z-index: 3;
}

.table__text_theme_dark {
  color: #ffffff;
  z-index: 4;
}

.table__heading_theme_dark {
  color: #ffffff;
  z-index: 5;
}

/*---FOOTER---*/
.footer {
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #1f1f1f;

}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  margin: 0px;
  min-width: 711px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  position: relative;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color:#ffffff;
}

.footer__column_content-info{
  flex-direction: column;
}

.footer__column-heading{
  margin: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
}

.footer__column_heading_theme_dark{
  color: #ffffff;
}

.footer__columnlinks{
  padding: 0;
  margin: 0 0 16px 0;
  list-style: none;
}

.footer__column-link{
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.footer__column_content_social {
flex-direction: column;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
